---
import Layout from "../layouts/Layout.astro";
import InstallationInstruction from "../components/InstallationInstruction.astro";
import Hero from "../components/Hero.astro";
import ProductCard from "../components/ProductCard.astro";

// Content for each product card
const productCards = [
  {
    title: "GingerDJ",
    description:
      "Write complex business logic in clear and expressive ORM. Build clean microservices based on Django's world-class framework design",
    imgSrc: "https://gingersociety.org/images/ginger-dj.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-dj",
    reversed: false,
  },
  {
    title: "GingerBook",
    description:
      "Simplifying UI Component Development and Testing. Based on the principles of Storybook, but better.",
    imgSrc: "https://gingersociety.org/images/ginger-book.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-book",
    reversed: true,
  },
  {
    title: "GingerDB",
    description: "UML designer for Relational Database.",
    imgSrc: "https://gingersociety.org/images/ginger-db.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-db",
    reversed: false,
  },
  {
    title: "GingerUI",
    description:
      "A UI library based on Uber's design language, minus Styletron.",
    imgSrc: "https://gingersociety.org/images/ginger-ui.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-ui",
    reversed: true,
  },
  {
    title: "GingerScaffolder",
    description: "Project scaffolding tool.",
    imgSrc: "https://gingersociety.org/images/ginger-scaffolder.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-scaffolder",
    reversed: false,
  },
  {
    title: "GingerReleaser",
    description: "Versioning, Changelog and release management CLI tool.",
    imgSrc: "https://gingersociety.org/images/ginger-releaser.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-releaser",
    reversed: true,
  },
  {
    title: "GingerConnector",
    description:
      "Manages service dependencies in Microservice / Full Stack projects.",
    imgSrc: "https://gingersociety.org/images/ginger-connector.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-connector",
    reversed: false,
  },
  {
    title: "GingerCode",
    description:
      "A container-first Code editor based on Code-OSS (VS Code). No more 'It works on my machine'.",
    imgSrc: "https://gingersociety.org/images/ginger-code.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-code",
    reversed: true,
  },
];
---

<style>
  @media (min-width: 768px) {
    .sponsorship-container {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  /* For mobile screens */
  @media (max-width: 767px) {
    .sponsorship-container iframe {
      height: 130px;
    }
  }
</style>

<Layout title="Ginger Society Official Website">
  <Hero
    title="Explore Innovation @ Ginger Society"
    description="Build better products with our range of products and dev tools."
    primaryLinkLabel="Demo"
    primaryLink="https://dev-portal-staging.gingersociety.org/#/public/ginger-society/stage"
    imgUrl="https://gingersociety.org/images/innovations-at-ginger.png"
    secondaryLinkLabel="Know more"
    secondaryLink="/features"
  />
  <InstallationInstruction />
  <div class="sponsorship-container">
    <iframe
      src="https://github.com/sponsors/ginger-society/card"
      title="Sponsor ginger-society"
      height="72"
      width="100%"
      style="border: 0;"></iframe>
  </div>
  {
    productCards.map((product) => (
      <ProductCard
        title={product.title}
        description={product.description}
        imgSrc={product.imgSrc}
        imgAlt={product.imgAlt}
        link={product.link}
        reversed={product.reversed}
      />
    ))
  }
</Layout>
