---
import Layout from "../layouts/Layout.astro";
import InstallationInstruction from "../components/InstallationInstruction.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ProductCard from "../components/ProductCard.astro";
import Footer from "../components/Footer.astro";

// Content for each product card
const productCards = [
  {
    title: "GingerDJ",
    description:
      "Write complex business logic in clear and expressive ORM. Build clean microservices based on Django's world-class framework design",
    imgSrc: "https://gingersociety.org/images/ginger-dj.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-dj",
    reversed: false,
  },
  {
    title: "GingerBook",
    description:
      "Simplifying UI Component Development and Testing. Based on the principles of Storybook, but better.",
    imgSrc: "https://gingersociety.org/images/ginger-book.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-book",
    reversed: true,
  },
  {
    title: "GingerDB",
    description: "UML designer for Relational Database.",
    imgSrc: "https://gingersociety.org/images/ginger-db.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-db",
    reversed: false,
  },
  {
    title: "GingerUI",
    description:
      "A UI library based on Uber's design language, minus Styletron.",
    imgSrc: "https://gingersociety.org/images/ginger-ui.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-ui",
    reversed: true,
  },
  {
    title: "GingerScaffolder",
    description: "Project scaffolding tool.",
    imgSrc: "https://gingersociety.org/images/ginger-scaffolder.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-scaffolder",
    reversed: false,
  },
  {
    title: "GingerReleaser",
    description: "Versioning, Changelog and release management CLI tool.",
    imgSrc: "https://gingersociety.org/images/ginger-releaser.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-releaser",
    reversed: true,
  },
  {
    title: "GingerConnector",
    description:
      "Manages service dependencies in Microservice / Full Stack projects.",
    imgSrc: "https://gingersociety.org/images/ginger-connector.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-connector",
    reversed: false,
  },
  {
    title: "GingerCode",
    description:
      "A container-first Code editor based on Code-OSS (VS Code). No more 'It works on my machine'.",
    imgSrc: "https://gingersociety.org/images/ginger-code.png",
    imgAlt: "Message inbox",
    link: "/products/ginger-code",
    reversed: true,
  },
];
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <Hero />
    <InstallationInstruction />
    {
      productCards.map((product) => (
        <ProductCard
          title={product.title}
          description={product.description}
          imgSrc={product.imgSrc}
          imgAlt={product.imgAlt}
          link={product.link}
          reversed={product.reversed}
        />
      ))
    }
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-top: 3rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
