---
const title = "Explore Innovation @ Ginger Society";
const description =
  "Build better products with our range of products and dev tools.";
const demoLink =
  "https://dev-portal-staging.gingersociety.org/#/public/ginger-society/stage";
const moreInfoLink = "/features";
const featureImage =
  "https://gingersociety.org/images/innovations-at-ginger.png";
const shapeImage = "https://gingersociety.org/images/feature/effect-4.png";
---

<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .col-lg-6 {
    flex: 1 1 50%;
  }
  .feature-hero-content {
    padding: 20px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
  }
  .btn-primary {
    background-color: #f85907;
  }
  .btn-links {
    background-color: transparent;
    color: #f85907;
  }
  .feature-hero-banner img {
    max-width: 100%;
    height: auto;
  }
  .shape img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .row {
      flex-direction: column; /* Stack elements vertically on mobile */
      align-items: center; /* Center items */
    }
    .col-lg-6 {
      flex: 1 1 100%; /* Full width on mobile */
    }
    .feature-hero-banner {
      margin-top: 20px; /* Add some space above the image on mobile */
    }
  }
</style>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="feature-hero-content">
        <h1>{title}</h1>
        <p>{description}</p>
        <div style="display: flex; gap: 20px;" class="mb-6">
          <a href={demoLink} class="btn btn-primary btn-lg">Demo</a>
          <a href={moreInfoLink} class="btn btn-lg btn-links">Know more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="feature-hero-banner" style="position: relative;">
        <img src={featureImage} alt="Charts" loading="lazy" />
      </div>
    </div>
  </div>
</div>
