---
const { menuItems, title, logo } = Astro.props;
---

<style>
  .sideMenu {
    min-width: 250px;
    max-width: 250px;
    background-color: var(--side-menu-bg-color);
    padding: 20px;
    border-right: 1px solid var(--side-menu-border-color);
    position: sticky;
    top: 20px;
    min-height: 100vh;
    height: fit-content;
    transition:
      background-color 0.3s,
      border-color 0.3s; /* Smooth transitions */
    font-size: 1rem;
  }

  .menuItem {
    margin-bottom: 10px;
  }

  .menuLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--menu-link-color);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s;
  }

  .menuLink:hover {
    background-color: var(--menu-link-hover-bg-color);
  }

  .subMenu {
    padding-left: 15px;
    margin-top: 5px;
  }

  .subMenuItem {
    margin: 5px 0;
  }

  .subMenuItem a {
    color: var(--submenu-link-color);
    text-decoration: none;
    transition: color 0.2s;
  }

  .subMenuItem a:hover {
    color: var(--submenu-link-hover-color);
    text-decoration: underline;
  }

  .toggleIcon {
    font-size: 12px;
    transition: transform 0.3s;
  }

  .expanded .toggleIcon {
    transform: rotate(90deg);
  }

  .menu__list-item-collapsible {
    cursor: pointer;
  }

  /* Dark theme variables */
  @media (prefers-color-scheme: dark) {
    :root {
      --side-menu-bg-color: #343a40; /* Dark background */
      --side-menu-border-color: #495057; /* Dark border */
      --menu-link-color: #f8f9fa; /* Light link color */
      --menu-link-hover-bg-color: #495057; /* Dark link hover background */
      --submenu-link-color: #ced4da; /* Light submenu link color */
      --submenu-link-hover-color: #ffffff; /* White on hover for submenu */
    }
  }

  /* Light theme variables */
  @media (prefers-color-scheme: light) {
    :root {
      --side-menu-bg-color: #f8f9fa; /* Light background */
      --side-menu-border-color: #ddd; /* Light border */
      --menu-link-color: #333; /* Dark link color */
      --menu-link-hover-bg-color: #e9ecef; /* Light link hover background */
      --submenu-link-color: #555; /* Dark submenu link color */
      --submenu-link-hover-color: #000; /* Black on hover for submenu */
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const collapsibles = document.querySelectorAll(
      ".menu__list-item-collapsible"
    );
    collapsibles.forEach((item) => {
      item.addEventListener("click", () => {
        const subMenu = item.nextElementSibling;
        if (subMenu) {
          subMenu.classList.toggle("expanded");
        }
      });
    });
  });
</script>

<div class="sideMenu">
  <img src={logo} width="100%" />
  <h4>{title}</h4>
  {
    menuItems.map((item: { title: unknown; subMenu: any[] }) => (
      <div class="menuItem">
        <div class="menu__list-item-collapsible">
          <a class="menuLink">
            {item.title}
            {item.subMenu && <span class="toggleIcon">▸</span>}
          </a>
        </div>
        {item.subMenu && (
          <ul class="subMenu">
            {item.subMenu.map(
              (subItem: {
                link: string | URL | null | undefined;
                external: any;
                title: unknown;
              }) => (
                <li class="subMenuItem">
                  <a
                    href={subItem.link}
                    target={subItem.external ? "_blank" : "_self"}
                    rel={subItem.external ? "noopener noreferrer" : ""}
                  >
                    {subItem.title}
                  </a>
                </li>
              )
            )}
          </ul>
        )}
      </div>
    ))
  }
</div>
