---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import ProductCard from "../../components/ProductCard.astro";

import { Content as IntroContent } from "../../components/markdowns/db/intro.md";
import { Content as DesignerContent } from "../../components/markdowns/db/designer.md";
import { Content as CliContent } from "../../components/markdowns/db/cli.md";

// Data for each product card (used for sections)
const productCards = [
  {
    title: "An intutive designer",
    description:
      "Use tables and enum blocks to design a robust DB structure with Many-To-Many, ForeignKey and One-To-One",
    imgSrc: "https://gingersociety.org/images/ginger-db-studio-screenshot.png",
    imgAlt: "Message inbox",
    primaryLink: "https://dev-portal-staging.gingersociety.org",
    primaryLinkLabel: "Try it, its free",
    reversed: true,
  },
  {
    title: "CLI",
    description:
      "Once you have designed the schema in the studio , you can quickly run a postgres SQL server with the schema already applied.",
    imgSrc: "https://gingersociety.org/images/db-compose-commands.png",
    imgAlt: "Message inbox",
    primaryLink: "https://github.com/ginger-society/ginger-db",
    primaryLinkLabel: "View on github",
    reversed: false,
  },
];
---

<Layout title="GingerDB">
  <!-- Hero Section -->
  <Hero
    title="GingerDB"
    description="A UML designer and workflow CLI for Relational Database"
    primaryLinkLabel="View on Github"
    primaryLink="https://github.com/ginger-society/dev-portal-frontend"
    imgUrl="https://www.gingersociety.org/images/ginger-db.png"
  />

  <!-- Product Sections (Features) -->
  {
    productCards.map((product) => (
      <ProductCard
        title={product.title}
        description={product.description}
        imgSrc={product.imgSrc}
        imgAlt={product.imgAlt}
        primaryLink={product.primaryLink}
        primaryLinkLabel={product.primaryLinkLabel}
        reversed={product.reversed}
      />
    ))
  }
  <div class="markdown-container"><IntroContent /></div>
  <div class="markdown-container"><DesignerContent /></div>
  <div class="markdown-container"><CliContent /></div>
</Layout>

<style>
  .markdown-container {
    padding: 50px;
    padding-left: 160px;
    padding-right: 160px;
    font-size: 1rem;
  }
  @media (max-width: 768px) {
    .markdown-container {
      padding: 50px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
</style>
